Repository ngrok/ngrok-docs, pull requests merged in 2025-07, with the labels that each got.

#1442 Alphabetize Definition tooltip data
  src/components/Definition/data.ts
Labels: kind/enhancement

#1434 Improve mobile responsiveness in examples gallery
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/snippets/_back-to-examples.mdx
  src/components/ExampleHub.tsx
Labels: kind/enhancement, docs/design

#1440 fix: update rate limit bucket key description
  static/schemas/traffic-policy.json
Labels: docs/content, kind/enhancement

#1458 fix: update the traffic inspector section of airship
  docs/integrations/airship/webhooks.mdx
Labels: docs/content, area/integrations

#1449 Update Agent TLS Termination guides
  docs/agent/agent-mutual-tls-termination.mdx
  docs/agent/agent-tls-termination.mdx
  docs/agent/img/mtls-diag.png
  docs/guides/other-guides/how-to-terminate-traffic-with-ngrok-configs.mdx
  docs/guides/security-dev-productivity/securing-your-tunnels.mdx
  docs/guides/site-to-site-connectivity/end-customers.mdx
  sidebars.js
  static/scripts/fix-redirect.js
Labels: docs/content, area/tunnels

#1456 New example: Combine Authentication Methods
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/combine-auth-methods.mdx
Labels: docs/content, area/universal-gateway, kind/feedback

#1457 fix: updating oauth guides to use policy
  docs/guides/identity-aware-proxy/securing-with-oauth.md
  examples/ssh/http-oauth-authn.mdx
Labels: docs/content

#1441 Update Cloud Endpoints Quickstart
  docs/getting-started/cloud-endpoints-quickstart.mdx
  docs/getting-started/go.mdx
  docs/getting-started/index.mdx
  docs/getting-started/javascript.mdx
  docs/getting-started/python.mdx
  docs/getting-started/rust.mdx
  docs/integrations/salesforce/ssowithendpoints.mdx
  docs/universal-gateway/cloud-endpoints/index.mdx
  docs/universal-gateway/cloud-endpoints/quickstart.mdx
  docs/universal-gateway/types.mdx
  sidebars.js
  static/scripts/fix-redirect.js
  traffic-policy/actions/jwt-validation/examples/integration-auth0/index.mdx
Labels: docs/content, kind/enhancement, priority/high

#1465 Iterate on SDK quickstarts
  docs/getting-started/cloud-endpoints-quickstart.mdx
  docs/getting-started/go.mdx
  docs/getting-started/index.mdx
  docs/getting-started/javascript.mdx
  docs/getting-started/python.mdx
  docs/getting-started/rust.mdx
Labels: docs/content, kind/enhancement

#1473 Remove congratulations and fix header structures
  docs/guides/other-guides/dashboard-sso-okta-setup.md
  docs/integrations/auth0/dashboard-sso.mdx
  docs/integrations/salesforce/ssowithendpoints.mdx
  docs/integrations/teams/webhooks.mdx
  docs/traffic-policy/getting-started/agent-endpoints/cli.mdx
  docs/traffic-policy/getting-started/agent-endpoints/config-file.mdx
  docs/traffic-policy/getting-started/cloud-endpoints/api.mdx
  docs/universal-gateway/kubernetes-endpoints.mdx
Labels: docs/content, kind/prose-debt

#1478 Add example: Multiplex to Internal Services from a Single Domain
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/custom-error-pages.mdx
  docs/universal-gateway/examples/maintenance-mode.mdx
  docs/universal-gateway/examples/minecraft.mdx
  docs/universal-gateway/examples/multiplex.mdx
  docs/universal-gateway/examples/ollama.mdx
  docs/universal-gateway/examples/route-api-app-traffic-user-agent.mdx
  docs/universal-gateway/examples/route-by-oidc.mdx
  docs/universal-gateway/examples/wordpress.mdx
Labels: docs/content, kind/enhancement, area/universal-gateway

#1484 New examples: canary and blue-green deployments
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/blue-green-deployments.mdx
  docs/universal-gateway/examples/canary-deployments.mdx
Labels: docs/content, area/universal-gateway

#1490 Changelog updates for agent 3.25.0
  docs/agent/changelog.md
  docs/agent/version-support-policy.mdx
  docs/whats-new.mdx
Labels: docs/content

#1489 Finish off cleaning up 'other-guides'
  docs/errors/details/_err_ngrok_306.md
  docs/guides/security-dev-productivity/securing-your-tunnels.mdx
  docs/iam/sso.mdx
  docs/integrations/okta/dashboard-sso-okta-setup.mdx
  docs/integrations/okta/img copy/round-robin-load-balancing.png
  docs/integrations/okta/img copy/weighted-round-robin-load-balancing.png
  docs/integrations/okta/scim.mdx
  docs/integrations/okta/sso-saml.mdx
  docs/traffic-policy/examples/index.mdx
  docs/traffic-policy/examples/oauth-protection.mdx
  docs/universal-gateway/cloud-endpoints/index.mdx
  sidebars.js
  static/scripts/fix-redirect.js
Labels: docs/content, kind/enhancement

#1485 Update multiplexing & OR auth pattern examples
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/ip-restrictions-basic-auth.mdx
  docs/universal-gateway/examples/multiplex.mdx
  static/scripts/fix-redirect.js
Labels: docs/content, kind/enhancement, area/universal-gateway
