Repository ngrok/ngrok-docs, pull requests merged in 2025-08, with the labels that each got.

#1500 Add missing title for page - Using ngrok with Docker
  docs/using-ngrok-with/docker.mdx
Labels: docs/content

#1498 update owasp crs docs to include config option exclude rule ids
  traffic-policy/actions/owasp-crs-request/behavior.mdx
  traffic-policy/actions/owasp-crs-request/config.mdx
  traffic-policy/actions/owasp-crs-response/behavior.mdx
  traffic-policy/actions/owasp-crs-response/config.mdx
Labels: docs/content, area/traffic-policy

#1534 Using ngrok with Docker Desktop - Video Demo
  docs/using-ngrok-with/docker.mdx
Labels: docs/content

#1505 Add Secrets and Vaults documentation
  docs/obs/events/reference.mdx
  docs/traffic-policy/macros/index.mdx
  docs/traffic-policy/secrets.mdx
  sidebars.js
Labels: docs/content, area/traffic-policy

#1540 Update "What's New?" for BMG ships
  docs/whats-new.mdx
Labels: docs/content

#1530 Adding some additional context for this example
  docs/universal-gateway/examples/multiplex.mdx
Labels: docs/content, kind/enhancement, area/universal-gateway

#1545 Fix broken callout in Secrets doc
  docs/traffic-policy/secrets.mdx
Labels: kind/bug, docs/content, area/traffic-policy

#1548 x-link to secrets macro doc
  docs/traffic-policy/secrets.mdx
Labels: docs/content

#1541 Add k8s customer networks guide
  docs/k8s/guides/_img/bindings-guide.png
  docs/k8s/guides/_img/bot-user-ss-1.png
  docs/k8s/guides/_img/bot-user-ss-2.png
  docs/k8s/guides/_img/cloud-endpoint-ss-1.png
  docs/k8s/guides/customer-networks.mdx
  sidebars.js
Labels: docs/content, area/k8s, kind/new-doc
