Repository ngrok/ngrok-docs, pull requests merged in 2025-09, with the labels that each got.

#1529 Create traffic-policy-unit-pricing
  docs/pricing-limits/traffic-policy-unit-pricing.mdx
  sidebars.js
Labels: docs/content, area/traffic-policy, kind/new-doc

#1573 Update n8n.mdx
  docs/universal-gateway/examples/n8n.mdx
Labels: docs/content, kind/enhancement

#1595 (Vaults, Secrets) X-link API Reference to Conceptual
  docs/traffic-policy/secrets.mdx
Labels: docs/content

#1594 Add three new examples: Agent-Assisted Gateway & Microservices Gateway & Self-Hosted PaaS
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/agent-assisted-gateway.mdx
  docs/universal-gateway/examples/microservices-gateway.mdx
  docs/universal-gateway/examples/paas-alternative-gateway.mdx
Labels: docs/content, area/universal-gateway, kind/new-doc

#1607 Add sidebar header for Macros section
  docs.json
  traffic-policy/macros/index.mdx
Labels: kind/post-migration, docs/ia
