Repository ngrok/ngrok-docs, pull requests merged in 2025-06, with the labels that each got.

#1346 Update the ngrok go quickstart
  docs/getting-started/_secure-your-app.mdx
  docs/getting-started/go.mdx
  src/components/LangSwitcher/data.ts
Labels: docs/content, area/go

#1384 Eliminate duplicated content and enforce consistent header hierarchy in Traffic Policy Actions docs
  traffic-policy/actions/add-headers/behavior.mdx
  traffic-policy/actions/add-headers/config.mdx
  traffic-policy/actions/add-headers/examples/http-add-headers-to-response.mdx
  traffic-policy/actions/add-headers/examples/index.mdx
  traffic-policy/actions/add-headers/index.mdx
  traffic-policy/actions/basic-auth/behavior.mdx
  traffic-policy/actions/basic-auth/config.mdx
  traffic-policy/actions/basic-auth/examples/basic-example.mdx
  traffic-policy/actions/basic-auth/examples/index.mdx
  traffic-policy/actions/basic-auth/index.mdx
  traffic-policy/actions/circuit-breaker/config.mdx
  traffic-policy/actions/circuit-breaker/examples/basic-example.mdx
  traffic-policy/actions/circuit-breaker/examples/index.mdx
  traffic-policy/actions/circuit-breaker/index.mdx
  traffic-policy/actions/compress-response/behavior.mdx
  traffic-policy/actions/compress-response/config.mdx
  traffic-policy/actions/compress-response/examples/compressing-api-responses-based-on-url-path.mdx
  traffic-policy/actions/compress-response/examples/index.mdx
  traffic-policy/actions/compress-response/index.mdx
  traffic-policy/actions/custom-response/index.mdx
  traffic-policy/actions/deny/index.mdx
  traffic-policy/actions/forward-internal/index.mdx
  traffic-policy/actions/set-vars/behavior.mdx
  traffic-policy/actions/set-vars/config.mdx
  traffic-policy/actions/set-vars/examples/index.mdx
Labels: kind/bug, docs/content, area/traffic-policy, kind/prose-debt

#1360 Create new K8s getting started guides
  docs/getting-started/kubernetes/_domain.mdx
  docs/getting-started/kubernetes/_gateway-api.mdx
  docs/getting-started/kubernetes/_install-bindings.mdx
  docs/getting-started/kubernetes/_install.mdx
  docs/getting-started/kubernetes/_prereq.mdx
  docs/getting-started/kubernetes/_request.mdx
  docs/getting-started/kubernetes/_sample.mdx
  docs/getting-started/kubernetes/_setup.mdx
  docs/getting-started/kubernetes/crds.mdx
  docs/getting-started/kubernetes/endpoints.mdx
  docs/getting-started/kubernetes/gateway-api.mdx
  docs/getting-started/kubernetes/ingress.mdx
  docs/k8s/changelog.mdx
  docs/k8s/guides/local-cluster.mdx
  docs/k8s/guides/quickstart.mdx
  docs/k8s/how-it-works.mdx
  docs/k8s/index.mdx
  docs/k8s/installation/helm.mdx
  docs/k8s/installation/install.mdx
  sidebars.js
  static/scripts/fix-redirect.js
Labels: docs/content, area/k8s

#1390 Add a JavaScript quickstart
  docs/getting-started/javascript.mdx
  docs/getting-started/python.mdx
  docs/using-ngrok-with/node-js.md
  sidebars.js
  static/scripts/fix-redirect.js
Labels: docs/content, kind/enhancement, area/javascript, priority/high

#1398 Update Go and Rust SDK quickstart to match new template and copy
  docs/agent/ssh-reverse-tunnel-agent.mdx
  docs/getting-started/go.mdx
  docs/getting-started/index.mdx
  docs/getting-started/javascript.mdx
  docs/getting-started/python.mdx
  docs/getting-started/rust.mdx
  docs/using-ngrok-with/django.md
  docs/using-ngrok-with/go.md
  docs/using-ngrok-with/rust.md
  sidebars.js
  static/scripts/fix-redirect.js
Labels: docs/content, kind/enhancement, area/go, area/rust, priority/high

#1365 Add an example gallery to the Universal Gateway section
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/front-door-pattern.mdx
  docs/universal-gateway/examples/lock-admin-dashboards.mdx
  docs/universal-gateway/examples/maintenance-mode.mdx
  docs/universal-gateway/examples/offload-analytics.mdx
  docs/universal-gateway/examples/route-api-app-traffic-user-agent.mdx
  docs/universal-gateway/examples/route-by-geography.mdx
  docs/universal-gateway/examples/snippets/_back-to-examples.mdx
  docs/universal-gateway/examples/snippets/_cloud-endpoint.mdx
  docs/universal-gateway/examples/snippets/_reserve-domain.mdx
  docs/universal-gateway/examples/snippets/_try-out.mdx
  docs/universal-gateway/examples/wordpress.mdx
  sidebars.js
  src/components/ExampleHub.tsx
Labels: docs/content, area/universal-gateway

#1371 ngrok Vaults + Secrets docs
  docs/traffic-policy/macros/security.mdx
Labels: docs/content, area/traffic-policy

#1428 Docs update to clarify ngrok agent API version constraints
  docs/agent/api.md
Labels: docs/content

#1427 Adding equinox faqs to docs
  docs/faq/faq.mdx
Labels: docs/content, kind/feedback

#1426 Update Agent CLI Quickstart doc
  docs/getting-started/index.mdx
  sidebars.js
Labels: docs/content, priority/high, kind/outdated-info

#1435 Add Minecraft example
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/minecraft.mdx
  docs/using-ngrok-with/minecraft.md
Labels: docs/content, area/universal-gateway

#1437 Add site-to-site+rewrite example to the gallery
  docs/universal-gateway/examples.mdx
  docs/universal-gateway/examples/front-door-pattern.mdx
  docs/universal-gateway/examples/rewrite-headers-redirects.mdx
Labels: docs/content, area/universal-gateway
